.animatedDiv:hover span {
    font-size: 1.8rem; /* Adjust this value based on your preference */
}

.animatedDiv {
    width:15%;
    height:10%;
    box-shadow: 0 0 20px 10px rgb(253, 186, 116);
    border: 1px solid white
}

.animatedDiv:hover {
    background-color: black;
    box-shadow: 0 0 20px 10px #FFFFFF
}

.fadeOutAni {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}