.confirmPwd {
    animation : vibration 0.1s ease-in-out;
    animation-iteration-count: 2
}

@keyframes vibration {
    0% {
        transform: rotate(0.5deg);   
    }

    100% {
        transform: rotate(-0.5deg);
    }
}

.animatedClick {
  animation : transformSmall 0.1s ease-in-out forwards;
}

@keyframes transformSmall {
  0% {
    transform: scale(100%);
    border: 0px solid;
    box-shadow: 0;
  }

  100% {
    transform: scale(95%);
    border: 2px solid white;
    box-shadow: 0px 0px 10px 2px black;
  }
}

.animatedClickReverse {
  animation : transformBig 0.1s ease-in-out forwards;
}

@keyframes transformBig {
  0% {
    transform: scale(95%)
  }
  100% {
    transform: scale(100%)
  }
}

.shake {
    animation: shake 0.5s ease-in-out infinite;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-3px);
    }
    50% {
      transform: translateX(3px);
    }
  }

  .hide {
    animation: hideAni 0.7s ease-in-out forwards;
  }

  @keyframes hideAni {
    0% {
      opacity: 1;
      transform: scale(100%)
    }

    100% {
      opacity: 0;
      transform: scale(0);
    }
  }

  .show {
    animation: showAni 0.7s ease-in-out forwards;
    animation-delay: 0.7s;
  }

  @keyframes showAni {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(100%);
    }
  }